[submodule "hysteria"]
	path = hysteria
	url = https://github.com/apernet/hysteria
[submodule "AndroidLibXrayLite"]
	path = AndroidLibXrayLite
	url = https://github.com/2dust/AndroidLibXrayLite
[submodule "badvpn"]
	path = badvpn
	url = https://github.com/XTLS/badvpn
[submodule "libancillary"]
	path = libancillary
	url = https://github.com/shadowsocks/libancillary
