# Ignore all DAT files
*.dat

# Ignore all JKS files (Java Key Store)
*.jks

# Ignore the output JSON file from V2rayNG application
V2rayNG/app/release/output.json

# Ignore IDE configuration directory
.idea/

# Ignore Gradle build directory
.gradle/
