# Ignore IntelliJ IDEA project files
*.iml
/.idea/

# Ignore Gradle files
.gradle/
local.properties

# Ignore build artifacts
/build/
captures/
*.apk
signing.properties
*.aar

# Ignore macOS system files
.DS_Store
