# Ignore IntelliJ IDEA module files
*.iml

# Ignore Gradle build directory
.gradle/

# Ignore local properties file (contains local configurations)
local.properties

# Ignore IDE configuration directory
/.idea/

# Ignore macOS Finder metadata files
.DS_Store

# Ignore build output directory
/build/

# Ignore capture directories (e.g., screenshots)
captures/

# Ignore Android APK files (Android Package)
*.apk

# Ignore signing properties file (for Android app signing)
signing.properties

# Ignore Android Archive files (AAR)
*.aar
