# IDE and build files
.gradle
/local.properties
/.idea
/build

# macOS system files
.DS_Store

# Capture files
/captures

# Binary files
*.apk
*.aar

# Signing properties
signing.properties

# IntelliJ module files
*.iml
